/* Write your CSS here */
.bgcontainer {
  height: 100vh;
  background-size: cover;
  background-color: hotpink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  color: white;
  font-size: 30px;
}
.button {
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
  height: 80px;
  width: 80px;
  color: hotpink;
  margin: 10px;
}
.divc {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.name-card {
  background-color: white;
  height: 150px;
  width: 200px;
  border-radius: 10px;
  color: black;
}
